* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 10px;
  background: #f1f1f1;
}

textarea {
	resize: none;
}
/* Header/Blog Title */
.header1 {
  padding: 30px;
  text-align: center;
  background: white;
}

.header1 h1 {
  font-size: 50px;
}


#customers th {
  background-color : #2E2E2E; 
  color: white;
}


th{
  background-color : #2E2E2E; 
  color: white;
	
}
 tr:nth-child(odd){background-color: #c0c0c0;}

 tr:hover {background-color: #ff8040;} 



table.qnadetail {
width: 70%;
	border-collapse: collapse;
	border: 2px solid #ddd;

	margin-left: auto;
	margin-right: auto;
	text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

table.qnadetail td, table.qnadetail th {
  border: 2px solid #ddd;
  padding: 8px;
}


table.qnadetail th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
 
}

table.qnadetail th{
  background-color : #2E2E2E; 
  color: white;	
}
