* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 10px;
  background: #f1f1f1;
}

textarea {
	resize: none;
}
/* Header/Blog Title */
.header1 {
  padding: 30px;
  text-align: center;
  background: white;
}

.header1 h1 {
  font-size: 50px;
}


#customers th {
  background-color : #2E2E2E; 
  color: white;
}

th{
  background-color : #2E2E2E; 
  color: white;
	
}
 tr:nth-child(odd){background-color: #B6DDD2;}

 tr:hover {background-color: #ecbf88;} 
